{
    "env": {
      "development": {
        "presets": []
      },
      "production": {
        "presets": []
      },
      "test": {
        "presets": [
          "env"
        ]
      }
    },
    "plugins": [
      "transform-class-properties"
    ]
  }